# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
.env.local

# Node
node_modules/
build/
dist/
.npmrc

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/.env.local
frontend/.env

# Backend
backend/.env
backend/.env.local
backend/.pytest_cache/

# Infra
infra/.terraform/
